[submodule "Kirstens-clone"]
	path = Kirstens-clone
	url = git@github.com:zot/Kirstens-clone.git
[submodule "Coffee-script"]
	path = Coffee-script
	url = git@github.com:zot/coffee-script.git
[submodule "Xus"]
	path = Xus
	url = git@github.com:zot/Xus.git
